
<!-- <div class="container pb-5 mb-5">
    <div class="row">
      <div class="col-12">
         
          <ul class="list-group">
              <li class="list-group-item d-flex justify-content-between align-items-center"
              *ngFor="let c of cartkeys">
                {{cart[c].name}}
                <div class="form-group">
                  <input type="email" class="form-control" value="{{cart[c].quantity}}" placeholder="Quantity">
                </div>
                <span class="badge badge-primary badge-pill">{{cart[c].total}}</span>
              </li>
            </ul>
      </div>
    </div>
  </div> -->
  <!-- <h3 class="bg-dark text-light  py-3 text-center">Cart</h3> -->
  <!-- <table class="table table-hover">
    <tr>
      <td>S.No</td>
      <td>Producut Name</td>
      <td>image</td>
       <td>product quantity</td>
      <td>product price</td>
      <td>Total Price</td>

    </tr>
    <tr *ngFor="let c of cartarray let i=index">
    <td>{{i+1}}</td>
    <td>{{c.name}}</td>
    <td> <img src="{{c.image}}"></td>
    <td>
      <button (click)="decrement(c)">-</button>
       {{c.quantity}}
      <button  (click)="increment(c)">+</button>
      

    </td>
    <td>{{c.price}}</td>
    <td>{{c.quantity*c.price}}</td>
  </tr>
    <tr>
      <td colspan="5" class="text-right">SubTotal:</td>
    <td colspan="5">&#8377;{{total}}</td>
    </tr>
  </table> -->

  <app-header></app-header>

  <h3 class="bg-dark text-light  py-3 text-center sticky-top sticky">Cart</h3>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8">

        <div class="card" *ngFor="let item of cartarray let i=index" >
          <div class="row">
          <div class="col-lg-6">
          <img class="card-img-left" src="{{item.image}}" alt="Card image cap">
          <div class="mt-2">
            <button class="btn btn-info text-danger btn1 mr-2" (click)="decrement(item)"><b>    -</b></button>
            <!-- <input type="number" [(ngModel)]="item.quantity"   class="text-center w mx-auto"> -->
             <span class="border w text-center">{{item.quantity}}</span>
            <button class="btn btn-info text-danger btn1  ml-2" (click)="increment(item)">+</button>
          </div>
        </div>
          <div class="col-lg-6">
          <div class="card-body">
            <h5 class="card-title">{{item.name}}</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            <button (click)="remove(item)">Remove</button>
          </div>
        </div>

      </div>
    </div>
  </div>
      
      
     <table class=" table col-lg-4 sticky-top header">
       <thead><tr><h3>Price Details</h3></tr></thead>
       <tbody>
         <tr>
           <td>Price({{quatity}} items)</td>
           <td>{{total}}</td>
         </tr>
         <tr>
           <td>Delivery Fee:</td>
           <td >&#8377;{{quatity*delivery}}</td>
         </tr>
         <tr>
           <td><h6>Total Payable:</h6></td>
           <td><b>&#8377;{{total+quatity*delivery}}</b></td>
         </tr>
       </tbody>
       
     </table>

    </div>

  </div>
