img{
    max-width:120px;
    height: 180px;
}
.btn1{
   border-radius: 50%;
   background-color: white;
   
}
.w{
  max-width: 50px;
}

  .sticky{
      top: 59px;
  }
  .header{
    top: 300px;
    

  }
 
  .text-bold{
    font-weight: bold;
    color: black;
  }
  .bute{
    padding: 0;
border: none;
background: none;
  }
  

