img{
    width:150px;
    height: 180px;
}
.btn1{
   border-radius: 50%;
   background-color: white;
   
}
.w{
  width: 50px;
}

  .sticky{
      top: 59px;
  }
  .header{
    top: 125px;
    height: 100px;

  }
  table {
    border: cadetblue  1px solid;
  }