
      <nav class="navbar navbar-expand-lg navbar-light bg sticky-top">
        <a class="navbar-brand"  routerLink='/'><img style="width: 100%; height: 30px;" src="//img1a.flixcart.com/www/linchpin/fk-cp-zion/img/flipkart-plus_4ee2f9.png" ></a>
        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"> -->
          <button type="button" class="navbar-toggler"  data-toggle="collapse" data-target="#myNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="myNavbar">
            <div class="form-Group  col-md-12 col-lg-6 col-sm-12 col-xs-12 ">
                <div class="input-group">
                  <input type="text" class="form-control  bg-white" placeholder="Search....">
                  <div class="input-group-append">
                    <button class="btn bg-white btn-sm" type="button">
                      <i class="fa fa-search"></i>
                    </button>
                  </div>
                </div>
             </div>

          <ul  class="navbar-nav ml-auto col-md-12 col-lg-6 col-sm-12 col-xs-12 ">
            <li class="nav-item ">
              <!-- *ngIf="!showhide" -->
              <a class="nav-link"  routerLink='/login'>Log in/Sign up <span class="sr-only">(current)</span></a>
              <!-- <a class="nav-link dropdown dropdown-toggle" id="navbarDropdownMenuLink" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown"  *ngIf="showhide"  >{{user.email}} <span class="sr-only">(current)</span></a> -->
              <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Others
                </a> -->
                <!-- <div class="dropdown-menu logout" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">{{user.email}}</a>
                  <a class="dropdown-item" href="#">account Settings</a>
                  <a class="dropdown-item" (click)="logout()">Log Out</a>
                </div> -->
            <!-- </li> -->
           
            <li class="nav-item">
              <a class="nav-link" routerLink='../fk/mens'>Flipkart</a>
             </li>
            <li class="nav-item">
              <a class="nav-link"  routerLink='/products'>More<i class="fa fa-caret-square-o-down" aria-hidden="true"></i></a>
            </li>
            <li class="nav-item" >
            <a class="nav-link notification" routerLink="/cart"><i class="fa fa-shopping-cart cart" aria-hidden="true"></i>Cart<span class="badge badge-secondary" *ngIf="quatity">{{quatity}}</span></a>
            
            </li>

                         
          </ul>
        </div>
      </nav>
      

      
      
      