<!-- <div class="container">
    
    <h2>Log in form</h2>
    <form [formGroup]="myform" (ngSubmit)="onSubmit(myform)">
        <div class="form-group">
            <label>Email</label>
            <input type="username" class="form-control" placeholder="Enter Email">
        </div> (ngSubmit)="onSubmit(myform)"

        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" placeholder="password">
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button><br>
        create a new account ?
        <button type="submit" class="btn btn-primary" routerLink="/register">register</button>
       

    </form>
  
</div> -->

<app-header></app-header>

<!-- <form #f="ngForm" (ngSubmit)="submit(f)">
          <div class="form-group">
                <label for="firstName"></label>
                <input required minlength="3" maxlength="10" pattern="suresh"
                ngModel name="firstName"
                 #firstName="ngModel"  type="text"
                  
                 (chang)="log(firstName)" 
                 class="form-control">


                <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">

                    <div *ngIf="firstName.errors.required">firstName is required</div>
                    <div *ngIf="firstName.errors.minlength">firstName should be minimum 3 char</div>
                    <div *ngIf="firstName.errors.pattern">firstName doent match</div>
                   
                </div>
          </div>

          <div class="form-group">
              <label for="comment">comment</label>
              <textarea ngModel name="comment"  cols="30" rows="10" class="form-control"></textarea>
          </div>

          <div class="checkbox">
                <label for="">
                <input type="checkbox" ngModel name="isSubscribed">subscribe to mailing list
              
              </label>
          </div>

          <div>
              <label for="contactMethod"></label>
              <select ngModel  class="form-control" name="contact" id="contactMethod">
                  <option *ngFor="let method of contactMethods" [value]="method.id">{{mthod.name}}</option>
              </select>
          </div>


          <button class="btn btn-primary"  >submit</button>


          <p>{{f.value | json}}</p>


          
      </form> -->

      <form [formGroup]="myform" (ngSubmit)="onSubmit(myform)" class="container justify-center w-25 my-5 border p-5">
        <div class="form-group">
            <label>Email :</label>
            <input type="text" formControlName="email" placeholder="email" class="form-control">
        </div>

        <div class="form-group">
            <label>Password :</label>
            <input type="password" formControlName="password" placeholder="password" class="form-control">
            <a routerLink='/forgetpassword' class="float-right">Forget?</a>
        </div>

        <input type="submit" value="Log In" class="btn btn-sm btn-primary d-flex mx-auto">
        <p>Create a new Account?<a routerLink='/register'>SignUP</a></p>

      </form>