<!--  
<div class="">
    <ul class="navbar nav ">
        <li><a href="">Electronics</a><span class="caret"></span></li> <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown
            <span class="caret"></span></button>
        <li><a href="">Tv's&Appliences</a></li>
        <li><a href="">Men</a></li>
        <li><a href="">Women</a></li>
        <li><a href="">Baby&Kids</a></li>
        <li><a href="">Home&Furniture</a></li>
        <li><a href="">Sports,Books&More</a></li>
        <li><a href="">Offer Zone</a></li>
      </ul>

</div> -->


     <div class="navbar navbar-expand-lg nav ml-10">
       
       
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>  
            <div class="collapse navbar-collapse" id="navbarNav">

      
        <li class="nav-item dropdown">
            <a class="nav-link" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Electronics
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <div class="">
              <div class="col-3">
              <a class="dropdown-item" href="#">mi</a>
              <a class="dropdown-item" href="#">realme</a>
              <a class="dropdown-item" href="#">Samsung</a>
              <a class="dropdown-item" href="#">mi</a>
              <a class="dropdown-item" href="#">realme</a>
              <a class="dropdown-item" href="#">Samsung</a>
              <a class="dropdown-item" href="#">mi</a>
              <a class="dropdown-item" href="#">realme</a>
              <a class="dropdown-item" href="#">Samsung</a>
            </div>

             <div class="col-3">
              <a class="dropdown-item" href="#">mi</a>
              <a class="dropdown-item" href="#">realme</a>
              <a class="dropdown-item" href="#">Samsung</a>
              <a class="dropdown-item" href="#">mi</a>
              <a class="dropdown-item" href="#">realme</a>
              <a class="dropdown-item" href="#">Samsung</a>
              <a class="dropdown-item" href="#">mi</a>
              <a class="dropdown-item" href="#">realme</a>
              <a class="dropdown-item" href="#">Samsung</a>
            </div>
            <div class="col-3">
                <a class="dropdown-item" href="#">mi</a>
                <a class="dropdown-item" href="#">realme</a>
                <a class="dropdown-item" href="#">Samsung</a>
                <a class="dropdown-item" href="#">mi</a>
                <a class="dropdown-item" href="#">realme</a>
                <a class="dropdown-item" href="#">Samsung</a>
                <a class="dropdown-item" href="#">mi</a>
                <a class="dropdown-item" href="#">realme</a>
                <a class="dropdown-item" href="#">Samsung</a>
              </div>
            </div>

            </div>
          </li>

          
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Tv's&Appliences
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>

            
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Men
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li>

              
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Women
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li>

       


            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Baby&Kids
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li>

              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Home&Furniture
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Sports,Books&More
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </li>

                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Offer Zone
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </li>

                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Others
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                      </div>
                    </li>
                  </div>

      </div>   
      <app-carousel></app-carousel>
      <app-product></app-product>
      <app-header></app-header>
      


    

    
