<!--  
<div class="">
    <ul class="navbar nav ">
        <li><a href="">Electronics</a><span class="caret"></span></li> <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown
            <span class="caret"></span></button>
        <li><a href="">Tv's&Appliences</a></li>
        <li><a href="">Men</a></li>
        <li><a href="">Women</a></li>
        <li><a href="">Baby&Kids</a></li>
        <li><a href="">Home&Furniture</a></li>
        <li><a href="">Sports,Books&More</a></li>
        <li><a href="">Offer Zone</a></li>
      </ul>

</div> -->
   
    <!-- <app-header></app-header> -->
      
      <nav class="navbar navbar-expand-lg navbar-light nav bg">
       
       
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>  
            <ul class="collapse navbar-collapse nav" id="navbarNav">

      
        <li class="nav-item dropdown">
            <a class="nav-link" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Electronics
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <div class="">
              <div class="col-3">
              <a class="dropdown-item" href="#">mi</a>
              <a class="dropdown-item" href="#">realme</a>
              <a class="dropdown-item" href="#">Samsung</a>
              <a class="dropdown-item" href="#">mi</a>
              <a class="dropdown-item" href="#">realme</a>
              <a class="dropdown-item" href="#">Samsung</a>
              <a class="dropdown-item" href="#">mi</a>
              <a class="dropdown-item" href="#">realme</a>
              <a class="dropdown-item" href="#">Samsung</a>
            </div>

             <div class="col-3">
              <a class="dropdown-item" href="#">mi</a>
              <a class="dropdown-item" href="#">realme</a>
              <a class="dropdown-item" href="#">Samsung</a>
              <a class="dropdown-item" href="#">mi</a>
              <a class="dropdown-item" href="#">realme</a>
              <a class="dropdown-item" href="#">Samsung</a>
              <a class="dropdown-item" href="#">mi</a>
              <a class="dropdown-item" href="#">realme</a>
              <a class="dropdown-item" href="#">Samsung</a>
            </div>
            <div class="col-3">
                <a class="dropdown-item" href="#">mi</a>
                <a class="dropdown-item" href="#">realme</a>
                <a class="dropdown-item" href="#">Samsung</a>
                <a class="dropdown-item" href="#">mi</a>
                <a class="dropdown-item" href="#">realme</a>
                <a class="dropdown-item" href="#">Samsung</a>
                <a class="dropdown-item" href="#">mi</a>
                <a class="dropdown-item" href="#">realme</a>
                <a class="dropdown-item" href="#">Samsung</a>
              </div>
            </div>

            </div>
          </li>

          
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Tv's&Appliences
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>

            
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Men
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li>

              
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Women
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li>

       


            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Baby&Kids
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li>

              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Home&Furniture
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Sports,Books&More
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </li>

                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Offer Zone
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </li>

                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Others
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                      </div>
                    </li>
                  </ul>
                  </nav>
                  

       
      <app-carousel></app-carousel>

      <div class="container-fluid bg-light border mt-2">
         <table class="col-lg-12">
            <tr>
              <td>
                <h3>Latest Launches</h3>
                <span class="seewhatsnew">See What's New</span>
              </td>

              <td class="float-right m-3">
                <button class=" btn btn-primary" routerLink="/products">VIEW ALL</button>
              </td>
            </tr>
          </table>
       
           <div class="row bg">
                <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 col-6" *ngFor="let p of mobiles">
                <a routerLink="single/{{p.id}}" class="display">
                    <div class="text-center">
                      <img src="{{p.img}}" class="card-img-top img-responsive img-fluid"  alt="...">
                      <div class="card-body ">
                         <h6 class="card-title text-danger">{{p.name}}</h6>
                         <p class="card-text text-dark">Rs.{{p.price}}</p>
                         <p class="card-text">5% to 10% discount</p>
                         <!-- <a href="javascript:void()" class="btn btn-primary" routerLink="/cart" (click)="addToCart(p)">Add to cart</a> -->
                      </div>
                  </div>  
                  </a>
                  
                </div>
           </div>
      </div>
      
  
       <div class="container-fluid">       
            <div class="row mt-3">
                  <a href="#"  class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pa pl">
                    <img class="img-responsive img-fluid" src="https://rukminim1.flixcart.com/flap/480/480/image/d75afaa6d3198627.jpg?q=50">
                  </a>

                  <a href="#"  class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pa">
                    <img class="img-responsive img-fluid" src="https://rukminim1.flixcart.com/flap/480/480/image/c9b469d7df2d1ba3.jpg?q=50">
                  </a>
                  
                  <a href="#"  class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pa">
                     <img class="img-responsive img-fluid" src="https://rukminim1.flixcart.com/flap/480/480/image/3196449068873abb.jpg?q=50">
                  </a>
            </div>
        </div>

        <div class="container-fluid">       
          <div class="row mt-3">
                <a href="#"  class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pa pl">
                  <img class="img-responsive img-fluid" src="../../assets/images/tvbanner.jpg">
                </a>

                <a href="#"  class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pa">
                  <img class="img-responsive img-fluid" src="../../assets/images/dressbanner.jpg">
                </a>
                
                <a href="#"  class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pa">
                   <img class="img-responsive img-fluid" src="../../assets/images/watchesbanner.jpg">
                </a>
          </div>
      </div>

        
          <div class="container-fluid border mt-2 bg">
              <div class="row"> 
                  <div  class="col-lg-2  p-2 text-center offer">
                     <h3 class="text-center">TOP OFFERS On Mobiles</h3>
                     <button class="btn btn-primary my-5">View All</button>
                     <div class="div"></div>
                  </div> 

                  
                    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 col-6" *ngFor="let p of mobile">
                      <div class="text-center">
                          <img src="{{p.image}}" class="card-img-top img-responsive img-fluid"  alt="...">
                          <div class="card-body">
                             <h6 class="card-title">{{p.name}}</h6>
                             <p class="card-text">Rs.{{p.price}}</p>
                             <!-- <a href="javascript:void()" class="btn btn-primary" routerLink="/cart" (click)="addToCart(p)">Add to cart</a> -->
                          </div>
                      </div>  
                    </div>
              </div>
          </div>

          <div class="container-fluid mt-3 mb-3">       
            <div class="row ">
                  <a href="#"  class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pa pl">
                    <img class="img-responsive img-fluid" src="https://rukminim1.flixcart.com/flap/480/480/image/dd0df67c4d2d6d2d.jpg?q=50">
                  </a>

                  <a href="#"  class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pa ">
                    <img class="img-responsive img-fluid im"  src="https://assets.mspimages.in/wp-content/uploads/2018/10/POCO-F1-Offer-on-Flipkart-696x352.jpg">
                  </a>
                  
                  <a href="#"  class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pa">
                    <img class="img-responsive img-fluid" src="https://www.jagranimages.com/images/10_10_2018-realme_18518818.jpg">
                  </a>
            </div>
        </div>


        <app-footer></app-footer>

        
      


    

    

