
<!-- <app-header></app-header> -->

<!-- <div class="bg-light">
<div class="container-fluid">
    <div class="row">
       
         <div class="col-2" *ngFor="let p of getProducts()" >
           <div class="card">
            <img src="{{p.image}}" class="card-img-top img-responsive img-fluid"  alt="...">
            <div class="card-body bg-light">
              <h6 class="card-title">{{p.name}}</h6>
              <p class="card-text">5% to 10% discount</p>
              <a href="javascript:void()" class="btn btn-primary" (click)="addToCart(p)">Add to cart</a>
            </div>

    </div>  
  
    </div>
  </div>
</div>
</div> -->

<div class="bg-light border m-2">

  <div class="container-fluid">
      <div class="row">
         
           <div class="col-lg-2 col-6" *ngFor="let p of mobiles" >
             <div class="text-center">
              <img src="{{p.img}}{{p.image}}" class="card-img-top img-responsive img-fluid rounded mx-auto d-block"  alt="...">
              <div class="card-body bg-light">
                <h6 class="card-title">{{p.name}}</h6>
                <p class="card-text">5% to 10% discount</p>
                <a href="javascript:void()" class="btn btn-primary" routerLink="/cart" (click)="addToCart(p)">Add to cart</a>
              </div>
          </div>  
      </div>
    </div>
   </div>
   
</div>
